.explore-menu {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.explore-menu h1{
    color: #262626;
    font-weight: 600;
}

.explore-menu-text {
    max-width: 60%;
}

.explore-menu-list {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    text-align: center;
    margin: 20px 0;
    overflow-x: scroll;
}

.explore-menu-list::-webkit-scrollbar {
    display: none;
}

.explore-menu-list-item img{
    width: 5.5vw;
    min-width: 80px;
    cursor: pointer;
    border-radius: 50%;
    transition: 0.2s;
}

.explore-menu-list-item p {
    margin-top: 10px;
    color: #747474;
    font-size: max(1vw,16px);
    cursor: pointer;
}

.explore-menu hr {
    margin: 10px 0;
    height: 2px;
    background-color: #e2e2e2;
    border: none;
}

.explore-menu-list-item .active {
    border: 4px solid #ec4334;
    padding: 2px;
}

@media (max-width:1050px) {
    .explore-menu-text {
        max-width: 100%;
        font-size: 14px;
    }
}