.header {
  height: 34vw;
  width: 76%;
  margin: 30px auto;
  background: url(../../assests/banner.jpg) no-repeat;
  background-size: contain;
  position: relative;
}

.header-contents {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 2.5vw;
  max-width: 50%;
  bottom: 10%;
  left: 6vw;
  animation: fadeIn 3s;
}

.header-contents h2 {
  font-weight: 800;
  color: #fff;
  font-size: max(2.5vw, 22px);
}

.header-contents p {
  color: #fff;
  font-size: 1vw;
}

.header-contents button {
  border: none;
  color: #000;
  font-weight: 500;
  padding: 1vw 2.3vw;
  background-color: #fff;
  font-size: max(1vw, 13px);
  border-radius: 50px;
}

#additional {
  color: #fff360;
  text-shadow: 5px 4px 4px rgba(0, 0, 0, 0.5);
}

@media (max-width: 1050px) {
  .header-contents {
    max-width: 45%;
  }
}


@media (max-width: 750px) {
  .header-contents {
    max-width: 65%;
  }
  .header-contents p {
    display: none;
  }
  .header-contents button {
    padding: 2vw 4vw;
  }
}
