.food-item {
    width: 100%;
    margin: auto;
    border-radius: 15px;
    box-shadow: 0 0 10px #00000015;
    animation: fadeIn 1s;
}

.food-item-image {
    width: 100%;
    border-radius: 15px 15px 0 0;
}

.food-item-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
}

.food-item-name-rating {
    margin-bottom: 10px;
}

.food-item-name-rating p {
    font-size: 20px;
    font-weight: 500;
}

.food-item-name-rating{
    width: 70px;
}

.food-item-desc {
    padding: 20px;
    color: #676767;
    font-size: 12px;
}

.food-item-price {
    color: #ff6347;
    font-size: 22px;
    font-weight: 500;
    margin: 10px 20px;
}

.food-item-img-container {
    position: relative;
}

.food-item-img-container .add{
    width: 35px;
    position: absolute;
    bottom: 15px;
    right: 15px;
    cursor: pointer;
    border-radius: 50%;
}

.food-item-counter {
    position: absolute;
    bottom: 15px;
    right: 15px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 6px;
    border-radius: 50px;
    background-color: #fff;
}

.food-item-counter img {
    width: 30px;
}

